//////////////////////////////////////////
/// fix body
:global html,
:global body,
:global #app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
}

//////////////////////////////////////////
/// import font Icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=swap");

:global .material-icons {
  font-family: "Material Icons";
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}

//////////////////////////////////////////
/// import font Typography
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600&display=swap");


//////////////////////////////////////////
/// import component's style
@import "../ImageZoom/Style";
@import "../DatePicker/Style";

//////////////////////////////////////////
/// this class is needed to force import in app template
.ImportScss {
  display: none;
}
